name: MSBuild

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: ReleaseWithoutAsm

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.2
      
    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v10.2
      with:
        vcpkgGitCommitId: 'af2287382b1991dbdcb7e5112d236f3323b9dd7a'
    
    - name: Link vcpkg to MSBuild
      run: ${{ github.workspace }}/vcpkg/vcpkg integrate install

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      # Add additional options to the MSBuild command line here (like platform or verbosity level).
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}} /p:PostBuildEventUseInBuild=false 
    
    - name: Upload Artifact x64
      uses: actions/upload-artifact@v3
      with:
        name: x64
        path: ${{ github.workspace }}/build/Release/XivAlexander64.dll

    - name: Upload Artifact x64
      uses: actions/upload-artifact@v3
      with:
        name: x32
        path: ${{ github.workspace }}/build/Release/XivAlexander32.dll
